.initial-option-container {
    min-height: 80vh;
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Softer shadow for depth */
}

.initial-option-task-title {
    color: #2c3e50;
    margin: 10px 0;
    font-size: 22px;
    font-weight: bold;
  }
  
.initial-option-task-desc {
    color: #72808e;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: normal;
}

/* Instruction text */
.instruction-text {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: normal;
}

/* Container for the option cards */
.initial-option-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

/* OptionCard styling */
.option-card {
    background-color: #ebedf1;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}


/* OptionCard title */
.option-card-title {
    color: #425675;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* OptionCard description */
.option-card-description {
    font-size: 1em;
    color: #444b52;
    margin-bottom: 35px;
    line-height: 1.5;
}

.initial-option-sliders{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #ebedf1;
    /* background-color: #ebedf1; */
    border-radius: 10px;
    padding: 10px 20px;
}


/* Submit button styling */
.initial-option-submit {
    background-color: #6558d3;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 12px 40px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: max-content;
    margin: 25px auto;

}

.initial-option-submit:hover {
    background-color: #4133B7;
    transform: translateY(-2px); 
}
