/* Login Page Container */
.login-container {
    font-family: 'Arial', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
    text-align: center;
  }
  
  .login-container h1 {
    /* font-size: 2em;
    color: #2c3e50;*/
    font-size: 1.2em;
    margin: 0 4px 8px 4px;
    margin-bottom: 20px; 
    background-color: inherit;
    color:#6e7174; 
    text-align: left;
  }
  
  .login-container input[type="text"] {
    width: 100%; 
    padding: 12px 20px; 
    font-size: 1.1em;
    border-radius: 8px;
    margin-bottom: 25px;
    transition: background-color 0.3s ease;
    padding-left: 0;
    font-size: 1.1em;
    text-align: center;
    color:#2c3e50;
    border: 1px solid #F3F5F7;
    background-color: #F3F5F7;
  }
  
  .login-container input[type="text"]:focus {
    background-color: #ecf0ff;
    outline: none;
    border: 1px solid #6558d3; 
  }
  
  .login-container button {
    background-color: #6558d3;
    color: #ffffff;
    border: none;
    border-radius: 8px; 
    padding: 8px 40px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 1.2em;
    width: fit-content;
    align-self: center; 
    font-weight: bold;
  }
  
  .login-container button:hover {
    background-color: #4133B7;
    transform: translateY(-2px); 
  }
  
  .login-container button:disabled {
    background-color: #ccc; 
    cursor: not-allowed;
  }
  