.slider {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.slider-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-label-text{
  padding: 10px;
  color: #666;
}

.slider-range {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slider-range-limit{
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  /* padding: 10px; */
  color: #666;
}

input[type='range'] {
  overflow: hidden;
  -webkit-appearance: none;
  background-color: #F3F5F7;
  height: 1rem;
  align-self: center;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 1rem;
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
  background-color: #F3F5F7;
}

input[type='range']::-webkit-slider-thumb {
  /* width: 10px; */
  -webkit-appearance: none;
  aspect-ratio: 1 / 1;
  height: 1rem;
  cursor: ew-resize;
  background: #fff;
  /* border: 1px solid #F3F5F7; */
  border-radius: 50%;
  box-shadow: -50vw 0 0 calc(50vw - 0.5rem) #6558d3;
}