/* Tasks Page */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.tasks-container {
  top: 0;
  bottom: 0;
  width: 80%;
  min-height: 70vh;
  align-self: center;
  padding: 40px;
  background-color: #ffffff;
  align-self: center;
  border-radius: 12px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Softer shadow for depth */
  padding-top: 12px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.tasks-container h1 {
  color: #2c3e50;
  margin: 10px 0;
  font-size: 22px;
}

.tasks-container h2 {
  color: #72808e;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
}


.task-cards {
  justify-content: center;
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.task-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ecf0ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 38, 255, 0.205);
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden; 
  width: 33%;
}

.task-card:hover {
  background-color: #c3cef8;
  transform: translateY(-5px);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.25);
}

.task-card h2 {
  width: 100%;
  color: #425675;
  padding-top: 8px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

.task-card p {
  font-size: 16px;
  color: #707a91;
  margin-bottom: 16px;
  min-height: 50px; 
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-card button {
  width: 60%;
  padding: 8px 12px;
  background-color: #6558d3;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.task-card button:hover {
  background-color: #4133B7;
}

.task-card button:disabled {
  background-color: #c3cef8;
  color: #a0a0a0;
  cursor: not-allowed;
}

/* Mobile responsiveness
@media (max-width: 768px) {
  .tasks-container {
    padding: 15px;
  }

  .task-cards {
    grid-template-columns: 1fr; 
  }

  .task-card {
    min-height: auto;
  }
} */

